/node_modules
/public/hot
/public/storage
/public/updater
/storage/*.key
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/*
/vendor
/public
/storage
/documentation
/resources/*
!/resources/views
